/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 95px;
  background-color: #f8f8f8;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 92px;
  background-color: #C0D553;
  img{
    float: right;
    margin-right: 200px;
  }
}

header{
  height: 160px;
  .header-title{
    font-size: 3.4em;
    text-align: left;
    vertical-align: bottom;
  }
  .header-app-name{
    font-size: 7em;
    font-weight: bolder;
    letter-spacing: 0.1em;
    color: #00b2ee;
    text-align: right;
  }
}

.main-content{
  background-color: #fff;
}


.list-inline{
  list-style-type: none;
  margin-bottom: 0px;
  li{
    display: inline;
    height: 30px;
  }
}

.list-inline > li.country-name{
  padding-left: 40px;
}
